importFrom("grid", "grid.newpage", "grid.draw", "rasterGrob", "grid.lines", "unit", "gpar", "grid.ls")
importFrom("rsvg", "rsvg")
importFrom("stringr", "str_replace")
importFrom("xml2", "read_xml", "xml_children", "xml_name", "xml_attr", "xml_set_attr", "xml_add_child", "write_xml", "xml_text", "xml_find_first", "xml_text<-")
importFrom("grDevices", "colorRampPalette")

export(change_legend_text)
export(find_path_id)
export(heatmapSVG)
export(mapping_path_id)
export(read_n_check)
export(recolorSVG)
export(xy_guideline)
